$--breakpoint: 830px;

.wp-block-custom-cv-button {
	display: flex;
	justify-content: center;
	margin: 3.5rem 1rem 2.75rem;
}

.wp-block-custom-cv-button a {
	color: var(--color-light);
	background: linear-gradient(90deg, var(--primary-color-main) 0%, var(--primary-color-main) 40%, #fcb045 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 33rem;
	width: 100%;
	font-size: 2.125rem;
	font-weight: 700;
	padding: 0.75rem;
	border-radius: 2rem;

	&::before {
		content: "";
		background-color: var(--color-light);
		display: block;
		width: 2rem;
		height: 2rem;
		clip-path: polygon(50% 20%, 90% 80%, 10% 80%);
		transform: rotate(90deg);
		margin-right: 0.5rem;
		margin-left: -0.5rem;
	}

	&:hover {
		opacity: 0.7;
	}
}

@media (min-width: $--breakpoint) {

	.wp-block-custom-cv-button {
		margin: 2.875rem 0 2.75rem;
	}

	.wp-block-custom-cv-button a {
		font-size: 1.5rem;
		padding: 1.25rem;
	}
}
