.wp-block-custom-contact {
	background-color: var(--color-light);
	max-width: var(--max-width-inner-container);
	width: 100%;
	padding: 1.75rem;
	margin: 2.75rem 0;

	&__inner {
		background-color: #efdeec;
		padding: 1.25rem 1.75rem;
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 1.5rem;
	}

	.wp-block-custom-text {
		font-size: 0.75rem;

		&.--large {
			display: block;
			font-size: 1.125rem;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		&.--tag {
			color: var(--color-light);
			background-color: #5a585a;
			display: inline-block;
			width: fit-content;
			padding: 0.125rem 0.25rem;
			margin-right: 0.5rem;
			margin-bottom: 0.75rem;
		}
	}

}

.wp-block-custom-contact-date {
	line-height: 2.5;
	font-size: 1.675rem;
	font-weight: bold;
}

.wp-block-custom-contact-time {
	line-height: 1.2;
	font-size: 1.2rem;
	font-weight: bold;
}
