$--breakpoint: 830px;

.wp-block-custom-sticky-notes {
	display: grid;
	gap: 1.875rem;
	max-width: var(--max-width-inner-container);
	width: 100%;
	margin: 2.25rem auto;

	.wp-block-custom-text {
		background-color: var(--color-light);
		font-size: 1.5rem;
		font-weight: bold;
		padding: 0.75rem 0.75rem;
		box-shadow: 0 0.2rem 0.4rem 0rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem -0.2rem rgba(0, 0, 0, 0.1);

		&::before {
			content: "→";
			margin-right: 0.5rem;
		}
	}
}

@media (min-width: $--breakpoint) {
	.wp-block-custom-sticky-notes {
		gap: 1.675rem;

		.wp-block-custom-text {
			font-size: 1rem;
			padding: 0.5rem 0.75rem;
		}
	}
}
